.sourceCode.SQL {
    /* font-family: 'mono'; */
    background: #ededed;
}

.sourceCode.bash {
    /* font-family: 'mono'; */
    background: #ededed;
    font-size: 6pt;
}


h1 , H2 {
    color: #2db7c4;
}

p {
    line-height: 14pt;
}

code {
    color: #eb34cf;
}

blockquote {
    font-style: italic;
    color: #818181
}

table {
    background-color: #ededed;
}

li{
    margin: 3pt;
}

ul{
    margin: 4pt;
}

blockquote {
    font-style: italic;
    color: #818181
}

table {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}